@keyframes animations__slide--left {
  from {
    left: 100%;
    opacity: 0;
  }
  to {
    left: 0%;
    opacity: 1;
  }
}

@keyframes animations__slide--right {
  from {
    right: 100%;
    opacity: 0;
  }
  to {
    right: 0%;
    opacity: 1;
  }
}

@keyframes animations__blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}